body {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  font-size: 18px;
  background-color: hsla(15, 5%, 15%, 1);
  color: hsl(0, 5%, 85%);
  line-height: 1.5;
  justify-content: center;
  font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
}

p, ul {
  width: 35em;
}

ul {
  list-style-image: url('images/ui/dagger.png');
}

ul.attire-list {
  list-style-image: url('images/ui/bandana.png');
}

a {
  color: hsl(0, 50%, 50%);
}

a:visited {
  color: hsl(0, 38%, 67%);
}

img.header-image {
  width: 600px;
  margin: 0 auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100vw;
  }

  body {
    display: block;
    padding: 10px;
  }

  section {
    width: 100%;
  }

  p,
  ul,
  .header-image,
  iframe
  {
    max-width: 100%;
  }
}